<section>
  <div class="container">
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>

            <td><img
                style="width: 70px; height: 70px;"
                src="/product-images/{{this.product._id}}.jpeg"
                alt=""
              /></td>
            <td>{{this.product.title}}</td>
            <td>{{this.product.price}}</td>

            <td>
              <button
                class="cart-item-count mr-3"
                onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)"
              >-</button>
              <span id="{{this.product._id}}">{{this.quantity}}</span>
              <button
                class="cart-item-count ml-3"
                onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)"
              >+</button>
            </td>
            <td>
              <a href="" class="btn btn-danger" onclick="deleteCartItem('{{this._id}}','{{this.product._id}}',-1)">Remove</a>
            </td>

          </tr>
        {{/each}}

      </tbody>

    </table>
    <hr>
    <div style="float:right; margin-right: 110px" >
    <h3 >Total : ₹10000</h3>
    <a class="btn btn-success mt-4" href="/place-order">Place Order</a>
  </div>
  </div>

</section>

<script>

  function changeQuantity(cartId, productId, count){ 
    let quantity = parseInt(document.getElementById(productId).innerHTML); 
  count = parseInt(count); 
  $.ajax({ url:'/change-product-quantity', 
  data:{ cart: cartId,
  product: productId, 
  count: count, 
  quantity:quantity }, 
  method: 'post',
  success: (response)=>{ if(response.removeProduct){ 
    alert('Product removed form cart!')
    location.reload() 
}else{document.getElementById(productId).innerHTML = quantity + count; } } }) }

function deleteCartItem(cartId, productId, count){ 
    let quantity = parseInt(document.getElementById(productId).innerHTML); 
  count = parseInt(count); 
  $.ajax({ url:'/delete-cart-item', 
  data:{ cart: cartId,
  product: productId, 
  count: count, 
  quantity:quantity }, 
  method: 'post',
  success: (response)=>{ if(response.removeProduct){ 
    location.reload() 
} } }) }

</script>